<h1>Rails6のデフォルトの状態</h1>


<h2 class="mt-4">実行結果</h2>

<div class="group mt-4">

  <div class="wysiwyg">
    <ul>
      <li><strong>Railsから出力：</strong><%= Time.current.strftime('%T') %></li>
      <li><strong>JSから出力：</strong>
        <script type="text/javascript" charset="utf-8">
          function outputTime() {
            document.open()
            const now = new Date()

            document.write(now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds())
            document.close()
          }
          outputTime()
        </script>
      </li>
      <li><%= link_to '他のページに遷移', home_back_path %></li>
    </ul>
  </div>
</div>


<h2 class="mt-4">結論</h2>

<div class="group mt-4">

  <div class="wysiwyg">
    <ul>
      <li>デフォルトだと <strong>Cache-Control: max-age=0, private, must-revalidate</strong> と <strong>ETag</strong> が設定されている</li>
      <li><strong>must-revalidate</strong> と <strong>ETag</strong> の組み合わせだとブラウザの戻る、進むでキャッシュが残ってしまう</li>
    </ul>
  </div>
</div>
