<h1>Cache-Control: no-storeを設定した場合</h1>
<h2 class="mt-4">Railsによる現在の時間</h2>
<p><%= Time.current.strftime('%T') %></p>
<p><%= link_to '他のページに遷移', home_case2_other_path %></p>
<h2 class="mt-4">JSによる時間出力</h2>
<script>
  function outputTime() {
    document.open()
    const now = new Date()

    document.write(now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds())
    document.close()
  }
  outputTime()
</script>
<h2 class="mt-4">豆知識</h2>
<div class="group mt-4">
  <div class="wysiwyg">
    <h3>結論</h3>
    <ul>
      <li>ブラウザの戻る、進むでもキャッシュは残らない</li>
    </ul>
    <h3 class="mt-4">no-storeはどのような場面で使うのか</h3>
    <ul>
      <li>ブラウザのキャッシュやすべての中間キャッシュはそのレスポンスを一切格納できません。</li>
      <li>たとえば、個人の機密データや銀行データが含まれているレスポンスなどです。</li>
      <li>参考：https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching?hl=ja#%E3%80%8Cno-cache%E3%80%8D%E3%81%A8%E3%80%8Cno-store%E3%80%8D</li>
    </ul>
  </div>
</div>
