<h1>Cache-Control: no-storeを設定した場合</h1>




<h2 class="mt-4">実行結果</h2>

<div class="group mt-4">

  <div class="wysiwyg">
    <ul>
      <li><strong>Railsから出力：</strong><%= Time.current.strftime('%T') %></li>
      <li><strong>JSから出力：</strong>
        <script type="text/javascript" charset="utf-8">
          function outputTime() {
            document.open()
            const now = new Date()

            document.write(now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds())
            document.close()
          }
          outputTime()
        </script>
      </li>
      <li><%= link_to '他のページに遷移', home_back_path %></li>
    </ul>
  </div>
</div>



<h2 class="mt-4">結論</h2>

<div class="group mt-4">

  <div class="wysiwyg">
    <ul>
      <li><strong>no-store</strong> の場合はブラウザの戻る、進むでもキャッシュは残らない</li>
    </ul>
  </div>
</div>

<h2 class="mt-4">豆知識</h2>
<div class="group mt-4">
  <div class="wysiwyg">

    <h3 class="mt-4">no-storeはどのような場面で使うのか</h3>
    <ul>
      <li>ブラウザのキャッシュやすべての中間キャッシュはそのレスポンスを一切格納できません</li>
      <li>たとえば、個人の機密データや銀行データが含まれているレスポンスなどです</li>
      <li>参考：https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching?hl=ja#%E3%80%8Cno-cache%E3%80%8D%E3%81%A8%E3%80%8Cno-store%E3%80%8D</li>
    </ul>

  </div>
</div>
