<h1>VueJSでDOM操作のキャッシュ(ページにno-store)</h1>


<h2 class="mt-4">実行結果</h2>
<div class="group mt-4">
  <div class="wysiwyg">
    <ul>
      <li id="case6"><test></test></li>
      <li><strong>JSから出力：</strong>
        <script type="text/javascript" charset="utf-8">
          function outputTime() {
            document.open()
            const now = new Date()

            document.write(now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds())
            document.close()
          }
          outputTime()
        </script>
      </li>
      <li><%= link_to '他のページに遷移', home_back_path %></li>
    </ul>
  </div>
</div>






<h2 class="mt-4">豆知識</h2>
<div class="group mt-4">
  <div class="wysiwyg">
    <h3>結論</h3>
    <ul>
      <li>このページ自体にno-storeを設定してもブラウザの戻ると <strong>Ajaxの通信はキャッシュされてしまう</strong></li>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'entries/test' %>
