<h1>Cache-Control: no-cache, private, max-age=10を設定した場合</h1>


<h2 class="mt-4">実行結果</h2>
<div class="group mt-4">
  <div class="wysiwyg">
    <ul>
      <li><strong>Railsから出力：</strong><%= Time.current.strftime('%T') %></li>
      <li><strong>JSから出力：</strong>
        <script type="text/javascript" charset="utf-8">
          function outputTime() {
            document.open()
            const now = new Date()

            document.write(now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds())
            document.close()
          }
          outputTime()
        </script>
      </li>
      <li><%= link_to '他のページに遷移', home_back_path %></li>
    </ul>
  </div>
</div>


<h2 class="mt-4">結論</h2>
<div class="group mt-4">
  <div class="wysiwyg">
    <ul>
      <li>10秒間、キャッシュが残って時間は更新されない(そもそもサーバーにリクエストすら飛ばない)</li>
    </ul>
  </div>
</div>

<h2 class="mt-4">豆知識</h2>
<div class="group mt-4">
  <div class="wysiwyg">
    <h3 class="mt-4">ブラウザのリロードには対応していない</h3>
    <ul>
      <li><strong>ユーザーがリロードした = 新しい情報を欲しがっている</strong> ということなのでキャッシュが参照されないアルゴリズムらしい</li>
      <li>max-ageを試すには別窓を開いてURLを貼り付けるか、リンク先をクリックするしかない</li>
    </ul>
    <h3 class="mt-4">Railsにはmax-ageの設定できる便利関数がある</h3>
    <ul>
      <li>expires_in 10.seconds</li>
    </ul>
    <h3 class="mt-4">キャッシュされているか確認する方法</h3>
    <ul>
      <li>chromeのdeveloper toolの <strong>(disk cache)</strong> の文字で確認できる</li>
    </ul>
    <h3 class="mt-4">max-ageはブラウザを閉じても有効</h3>
  </div>
</div>
